.ael-badges {
    position: relative;
    margin-right: -5px;
    text-transform: uppercase;
}

.ael-badges a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 3px;
    margin-bottom: 5px;
    line-height: 1;
    font-size: 11px;
}

.ael-badges a:hover {
    color: #fff;
    background: #3395ff;
}