.ael-countdown {
    display: flex;
    flex-grow: row wrap;
    justify-content: center;
    &__item {
        width: 100px;
        margin-left: 10px;
        margin-right: 10px;
        border: 1px solid $border-color;
        border-radius: $border-radius;
        margin-bottom: 10px;
        padding: 15px;
        text-align: center;
        &:last-child {
            margin-right: 0;
        }
    }
    &__title {
        color: $color-second;
    }
    &__number {
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 0;
    }
}