.ael-cta{
    background-color: $gray-light;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    &__overtext{
        display: block;
    }
    &__title{
        margin-bottom: 10px;
    }
    &__subtitle{
        margin-bottom: 10px;
    }
    &__content{
        margin-bottom: 10px;
    }
    &__button{
        .rt-btn:first-child{
            margin-right: 10px;
        }
    }
}