
.ael-header-block {
    position: relative;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.ael-header-block__title {
    margin: 0;
    font-size: 21px;
}

.ael-header-block__nav {
    margin-right: -3px;
}

.ael-header-block__nav a {
    background-color: #fff;
    display: inline-block;
    border: 1px solid #e4e7ec;
    border-radius: 3px;
    margin-right: 3px;
    line-height: 28px;
    width: 28px;
    text-align: center;
    color: #555;
}

.ael-header-block__nav a:hover {
    border-color: #007bff;
    color: #007bff;
}

.ael-header-block__nav a.is-disable,
.ael-header-block__nav a.swiper-button-disabled {
    background-color: #f8f9fa;
    cursor: default;
}

.ael-header-block__nav a.is-disable:hover,
.ael-header-block__nav a.swiper-button-disabled:hover {
    border-color: #e4e7ec;
    color: #555;
}

/*=================================================
* HEADER 1
/*================================================= */
.ael-header-block--style-1 {
    position: relative;
    border-bottom: 1px solid #e4e7ec;
}

.ael-header-block--style-1 .ael-header-block__title {
    margin-bottom: -1px;
    padding-bottom: 10px;
    display: inline-block;
    border-bottom: 2px solid #007bff;
}

/*=================================================
* HEADER 2
/*================================================= */
.ael-header-block--style-2 .ael-header-block__title {
    border-left: 5px solid #007bff;
    padding-left: 15px;
}

/*=================================================
* HEADER 3
/*================================================= */
.ael-header-block--style-3 {
    border-bottom: 2px solid #007bff;
}

.ael-header-block--style-3 .ael-header-block__title {
    margin-bottom: 0;
    color: #fff;
    display: inline-block;
    background: #007bff;
    padding: 5px 15px;
}

/*=================================================
* HEADER 4
/*================================================= */
.ael-header-block--style-4 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.ael-header-block--style-4 .ael-header-block__title {
    text-transform: uppercase;
    background: #fff;
    display: inline-block;
    border: 2px solid #e4e7ec;
    padding: 10px 20px;
}

.ael-header-block--style-4 .ael-header-block__nav {
    position: absolute;
    right: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.ael-header-block--style-4:before {
    content: '';
    z-index: -1;
    position: absolute;
    height: 2px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    background-color: #e4e7ec;
}