.ael-portfolio {
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;

  &__thumbnail {
    margin-bottom: 0;
    position: relative;
    cursor: pointer;

    img {
      transition: 0.3s linear;
    }

    text-align: center;
  }

  &__body {
    padding: 10px 0;
  }

  &__title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
    margin-top: 0;

    a {
      color: $color-primary;
    }
  }

  &__category {
    margin-left: -5px;
    margin-right: -5px;
    font-size: 12px;

    a {
      position: relative;
      color: $color-third;
      padding: 0 5px;

      &:before {
        position: absolute;
        content: "";
        width: 3px;
        height: 3px;
        background: $color-second;
        border-radius: 100px;
        right: -3px;
        top: 50%;
        transform: translateY(-50%);
      }

      &:last-child {
        &:before {
          display: none;
        }
      }
    }
  }

  &__action {
    margin-left: -5px;
    margin-right: -5px;

    a {
      padding: 3px 10px;
      background-color: #222222;
      color: $color-base;
      display: inline-block;
      border-radius: 100px;
      margin-right: 5px;

      transform: translateY(30px);
      opacity: 0;
      transition: opacity 0.5s ease-in,
        transform 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15);

      &:hover {
        background: $color-brand;
        color: $color-base;
      }

      &:last-child {
        transition-delay: 0.1s;
      }
    }
  }

  &__overlay {
    display: flex;
    visibility: hidden;
    background: rgba(#ffffff, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    .ael-portfolio {
      &__overlay {
        visibility: visible;
      }

      &__action {
        a {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }
}

/*=================================================;
/* OVERLAY
/*================================================= */
.ael-portfolio--overlay {
  .ael-portfolio {
    &__title {
      margin-top: 10px;
    }

    &__title,
    &__category {
      transform: translateY(40px);
      opacity: 0;
      transition: opacity 0.5s ease-in,
        transform 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15);
      transition-delay: 0.3s;
    }

    &__category {
      transition-delay: 0.5s;
      a {
        color: $color-primary;
      }
    }
  }

  &:hover {
    .ael-portfolio {
      &__thumbnail {
        img {
          transform: scale(1.3);
        }
      }

      &__title,
      &__category {
        transform: translateY(0);
        opacity: 1;
        transition-delay: 0;
        transform: 0;
      }
    }
  }
}

/*=================================================;
/* OVERLAY
/*================================================= */
.ael-portfolio--transform {
  .ael-portfolio {
    overflow: hidden;

    &__thumbnail {
      margin-bottom: 0;
    }
    &__title,
    &__category {
      transform: translateY(40px);
      opacity: 0;
      transition: opacity 0.4s ease-in,
        transform 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15);
      transition-delay: 0.2s;
    }
    &__category {
      transition-delay: 0.3s;
    }

    &__body {
      position: absolute;
      padding: 10px 10px;
      overflow: hidden;
      background: #fff;
      margin-bottom: 0;

      transform: translateY(100%);
      transition: transform 0.2s cubic-bezier(0.39, 0.08, 0.72, 1.15);
    }
    &__overlay {
      display: none;
    }
  }
  &:hover {
    .ael-portfolio {
      &__body {
        transform: translateY(0);
        left: 5px;
        bottom: 5px;
        right: 5px;
      }
      &__thumbnail {
        img {
          transform: scale(1.3);
        }
      }

      &__title,
      &__category {
        transform: translateY(0);
        opacity: 1;
        transition-delay: 0;
        transform: 0;
      }
    }
  }
}
