.ael-price-table {
    border-radius: $border-radius;
    border: 1px solid $border-color;
    text-align: center;
    &__header {
        padding: 25px 0;
        background-color: $color-brand;
        color: $color-base;
        margin: -2px;
        margin-bottom: 0;
        position: relative;
        z-index: 2;
    }
    &__ribbon {
        position: absolute;
        top: 0;
        left: auto;
        right: 0;
        transform: rotate(90deg);
        width: 150px;
        overflow: hidden;
        height: 150px;
        &-inner {
            background-color: #f62323;
            text-align: center;
            left: 0;
            width: 200%;
            transform: translateY(-10%) translateX(-50%) translateX(35px) rotate(-45deg);
            margin-top: 25px;
            font-size: 12px;
            line-height: 2;
            font-weight: 800;
            text-transform: uppercase;
        }
    }
    &__title {
        font-size: 21px;
        line-height: 1.3em;
        font-weight: bold;
    }
    &__subtitle {
        font-size: 17px;
        line-height: 1.3em;
    }
    &__price {
        font-size: 43px;
        line-height: 1em;
        font-weight: 700;
        &-wrapper {
            position: relative;
            padding: 15px;
            background-color: $gray-light;
            display: flex;
            flex-flow: wrap row;
            justify-content: center;
            align-items: self-start;
        }
    }
    &__original-price{
        text-decoration: line-through;
        flex-basis: 100%;
    }
    &__after-price{
        line-height: 1em;
        font-weight: 700;
    }
    &__currency {
        align-self: flex-start;
        font-size: 18px;
        font-weight: 700;
        margin-right: 3px;
    }
    &__priod {
        width: 100%;
    }
    &__featured {
        padding: 0 !important;
        margin: 0 !important;
        list-style: none !important;
        li {
            margin: 0 !important;
        list-style: none !important;
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid $border-color;
            margin: 0;
            &:last-child {
                border-color: transparent;
            }
        }
        i {
            margin-right: 3px;
        }
        .is-disable {
            color: $color-third;
        }
    }
    &__footer {
        padding: 15px;
        background: $gray-light;
        .rt-btn {
            margin: 0;
        }
        p{
            margin-top: 10px;
            font-size: 12px;
        }
    }
}