.owl-carousel {
    opacity: 0;
    -webkit-transition: .3s;
    transition: .3s;
}

.owl-carousel.owl-loaded {
    opacity: 1;
}

.ael-slider__item {
    position: relative;
}

.ael-slider__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
}

.ael-slider__main {
    position: relative;
}

.ael-slider__group {
    position: relative;
}

.ael-slider__thumbnail {
    height: 500px;
    background-size: cover;
    background-position: center center;
}

.ael-slider__inner {
    z-index: 9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: 2;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.ael-slider__body {
    max-width: 80%;
    padding: 30px;
    z-index: 9;
}

.ael-slider__title {
    color: #fff;
    font-size: 34px;
    line-height: 42px;
}

.ael-slider__title a {
    color: #fff;
}

.ael-slider__subtitle {
    color: #fff;
}

.ael-slider__content {
    color: #fff;
}

.ael-slider__meta {
    color: #fff;
}

.ael-slider__nav a {
    z-index: 9;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 38px;
    min-width: 38px;
    text-align: center;
    background: #fff;
    color: #252525;
    border-radius: 3px;
    cursor: pointer;
}

.ael-slider__nav a:hover {
    color: #333;
}

.ael-slider__nav .is-disable {
    background-color: #333333;
    cursor: disable;
}

.ael-slider__prev {
    left: 10px;
}

.ael-slider__prev i {
    margin-left: 7px;
}

.ael-slider__next {
    right: 10px;
}

.ael-slider__next i {
    margin-right: 7px;
}

.ael-slider .owl-item>.flex-item {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
}

/*=================================================;
/* SLIDER THUMBNAIL
/*================================================= */
.ael-slider--thumbnail .ael-slider__group .owl-item {
    cursor: pointer;
}

.ael-slider--thumbnail .ael-slider__group .owl-item.is-current {
    position: relative;
}

.ael-slider--thumbnail .ael-slider__group .owl-item.is-current::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.4);
}

.ael-slider--thumbnail .ael-slider__group .owl-item.is-current::after {
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 10px 10px 0;
    content: "";
    right: 0;
    left: 0;
    width: 10px;
    margin: auto;
    position: absolute;
    top: 0;
    z-index: 2;
}

/*=================================================;
/* NAVIGATION
/*================================================= */
.ael-slider .owl-nav .disabled {
    display: none;
}

.ael-slider .owl-next,
.ael-slider .owl-prev {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 38px;
    width: 38px;
    line-height: 42px;
    margin: 0;
    text-align: center;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.ael-slider .owl-next i,
.ael-slider .owl-prev i {
    color: #fff;
}

.ael-slider .owl-prev {
    left: 15px;
}

.ael-slider .owl-next {
    right: 15px;
}

/*=================================================;
/* PAGINATION
/*================================================= */
.ael-slider .owl-dots {
    margin-top: 15px;
    text-align: center;
}

.ael-slider .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #d3d3d3;
    display: block;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    border-radius: 30px;
}

.ael-slider .owl-dots .owl-dot.active span {
    background: #007bff;
}

/* pagination insert wrapper*/
.ael-slider--pagination-inner .owl-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}





