.ael-testimonial {
  margin: 0 auto;
  &__thumbnail {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    margin: 0 auto;
    margin-bottom: 10px;
    img {
      width: 80px !important;
      height: 80px !important;
    }
  }
  &__name {
    font-size: 14px;
    line-height: 14px;
    margin-top: 0;
    margin-bottom: 0;
  }
  &__position {
    font-size: 12px;
    line-height: 12px;
  }
  &__content {
    margin-bottom: 20px;
    text-align: center;
  }
  &__profile {
    margin: 0 auto;
    text-align: center;
  }
}

.ael-testimonial--tooltip {
  .ael-testimonial {
    &__content {
      border-radius: $border-radius;
      position: relative;
      background-color: $gray-light;
      border: 1px solid $border-color;
      padding: 15px;
      margin-bottom: 20px;

      &:before {
        position: absolute;
        bottom: -7px;
        left: 50%;
        display: block;
        width: 14px;
        height: 14px;
        border: 1px solid $border-color;
        border-top: none;
        border-left: none;
        background-color: $gray-light;
        content: "";
        transform: translateX(-50%) rotate(45deg);
      }
    }
  }
}

.ael-testimonial--card{
      border-radius: $border-radius;
      position: relative;
      background-color: $gray-light;
      border: 1px solid $border-color;
      padding: 15px;
}